@use '@/styles/_variables.scss' as *;

@mixin small {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$bp-ultra}) {
    @content;
  }
}

@mixin section-padding {
  padding: $section-py-mobile $section-px-mobile;

  @include desktop {
    padding: $section-py-desktop $section-px-desktop;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin layout-container {
  width: 100%;
  max-width: $max-layout-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $section-px-mobile;
  padding-right: $section-px-mobile;

  @include desktop {
    padding-left: $section-px-desktop;
    padding-right: $section-px-desktop;
  }
}
